################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InternalAPI/bin/Debug/net6.0
/InternalAPI/obj/Debug/net6.0
/InternalAPI/obj
